
* {
    box-sizing: border-box;
}

/* Pone los contenedores al 100% */
html, body {
    width: 100%;
    height: 100%;    
}

#root {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

#tablero {
    width: 400px;
    height: 400px;

    margin: 0 auto;
}

.boton {
    border-color: black;
    border-style: solid;
    border-width: 3px;

    width: 200px;
    height: 200px;
}

#verde {
    float: left;

    background-color: green;

    border-radius: 100% 0 0 0;
}

#rojo {
    float: right;

    background-color: red;

    border-radius: 0 100% 0 0;
}

#amarillo {
    float: left;

    background-color: yellow;

    border-radius: 0 0 0 100%;
}

#azul {
    float: right;

    background-color: blue;

    border-radius: 0 0 100% 0;    
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 150px;    
    bottom: 250px;    

    border-radius: 100% 100% 100% 100%;    
    background-color: lightgrey;
    
    width: 100px;
    height: 100px;

    border-width: 4px;
    border-style: solid;
}

